* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  background-color: #080c20;
  padding-bottom: 7.3125rem;
}

@media only screen and (max-width: 62.5rem) {
  .App {
    padding-bottom: 6.5625rem;
  }
}

@media only screen and (max-width: 37.5rem) {
  .App {
    padding-bottom: 10.25rem;
  }
}
